<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="es.peanutbutter.socialPlugin" version="0.2.6">
    <name>Social Plugin</name>
    <author>Jose Luis Maroto</author>
    <description>Cordova Social Plugin to utilise native share features. Share text, images and urls to Facebook, Twitter and more. In iOs it allows to share throw the native ui or programmatically. It allows to check phone accounts and the available acoount types and use them to show custom UI. It also allows to send posts whithout user interaction (you can set the text and the user doesn't have to enter the text) Its based in the work by Lee Crossley (http://ilee.co.uk/)</description>
    <keywords>cordova, social, message, share, facebook, twitter, image, url</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/js/SocialPlugin.js" name="SocialPlugin">
        <clobbers target="SocialPlugin" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SocialPlugin">
                <param name="ios-package" value="SocialPlugin" />
            </feature>
        </config-file>
        <header-file src="platforms/ios/Classes/SocialPlugin.h" />
        <source-file src="platforms/ios/Classes/SocialPlugin.m" />
        <framework src="Social.framework" />
        <framework src="Accounts.framework" />
    </platform>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SocialPlugin">
                <param name="android-package" value="es.peanutbutter.SocialMessage" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="platforms/android/SocialPlugin.java" target-dir="src/es/peanutbutter/socialmessage" />
    </platform>
</plugin>
